venv/
.idea/
*.pyc
*/*.pyc
temp.bmp
temp.txt
tesseract.log
__pycache__/
farmer/__pycache__/
input_listener/__pycache__/
move_set/__pycache__/
ocr/__pycache__/
radon/pytesseract/__pycache__/
radon/__pycache__/
cli/__pycache__/
prowatch/__pycache__/
prowatch/logs/
seenpokemon.txt
___main_bash.bat
seenpokes.txt